.panda-card{
    border: 0;
}
.panda-footer{
    border: 0;
    background-color: white;
}
.categories img{
    width: 100px;
}
.carous-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}